@font-face {
  font-family: headerFont;
  src: url(fantasyMagist.otf);
}

@font-face {
  font-family: bodyFont;
  src: url(brogetta.otf);
}


body {
  margin: 5vw 10vw 0px 10vw;
  padding: 0px;
  background-color: #F5EDDC;
/*  color: black;*/
  font-family: headerFont;
  font-size: 2rem;
}

body * {
  box-sizing: border-box;
}

input, button {
  font-size: 1.5rem;
  background-color: #F2F2F2;
  border-radius: 5px;
}

#title {
  transition: all 2s;
  cursor: pointer;
}

#main {
  display: flex;
  justify-content: center;
  transition: all 2s;

}

.specialTitle {
/*  color: #000;*/
  text-shadow: 0px 0px 13px ghostwhite;
}

.nameSign {
  font-size: 5rem;
}

#outputContainer {
  font-family: bodyFont;
}

.defaultColor {
  background-color: #F5EDDC;
}

.ariesColor {
  background-color: darkred;
  color: ghostwhite;
}

.taurusColor {
  background-color: darkgreen;
  color: ghostwhite;
}

.geminiColor {
  background-color: yellow;
  color: darkgreen;
}

.cancerColor {
  background-color: silver;
  color: whitesmoke;
}

.leoColor {
  background-color: gold;
  color: yellowgreen;
}

.virgoColor {
  background-color: saddlebrown;
  color: lightgreen;
}

.libraColor {
  background-color: lightpink;
  color: darkslateblue;
}

.scorpioColor {
  background-color: black;
  color: ghostwhite;
}

.sagittariusColor {
  background-color: purple;
  color: ghostwhite;
}

.capricornColor {
  background-color: dimgrey;
  color: ghostwhite;
}

.aquariusColor {
  background-color: skyblue;
  color: darkblue;
}

.piscesColor {
  background-color: lightgreen;
  color: darkgreen;
}

.invalidColor {
  color: #FF0000;
}


#outputContainer {
  display: flex;
  justify-content: space-around;
}

#outputText1, #outputText2{
  width: 45%;
  background-color: ghostwhite;
  color: black;
  padding: 2vmin;
  border-radius: 5px;
}









